<div class="@GetClasses()" style="@Style">@ChildContent</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public string Size {get;set;}
    [Parameter]
    public string Offset {get;set;}
    [Parameter]
    public string Style { get; set; }

    string GetClasses()
    {
        var classes = new List<string>()
        {
            "b-col"
        };

        var sizes = (Size ?? "")
            .Split(" ")
            .Where(i => !string.IsNullOrWhiteSpace(i))
            .Select(i => "b-col-" + i);
        var offsets = (Offset ?? "")
            .Split(" ")
            .Where(i => !string.IsNullOrWhiteSpace(i))
            .Select(i => "b-col-offset-" + i);
        classes.AddRange(sizes);
        classes.AddRange(offsets);

        return string.Join(" ", classes);

    }
}