html, document, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

app .mdc-text-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.75rem;
}

app .mdc-button--raised, app .mdc-button--unelevated {
  padding: 1.75rem;
}

app h1, app h2, app h3, app h4, app h5, app h6 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

app > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.b-col-xs-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.b-col-offset-xs-1 {
  margin-left: 8.33333%;
}

.b-col-xs-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.b-col-offset-xs-2 {
  margin-left: 16.66667%;
}

.b-col-xs-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.b-col-offset-xs-3 {
  margin-left: 25%;
}

.b-col-xs-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.b-col-offset-xs-4 {
  margin-left: 33.33333%;
}

.b-col-xs-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.b-col-offset-xs-5 {
  margin-left: 41.66667%;
}

.b-col-xs-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.b-col-offset-xs-6 {
  margin-left: 50%;
}

.b-col-xs-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.b-col-offset-xs-7 {
  margin-left: 58.33333%;
}

.b-col-xs-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.b-col-offset-xs-8 {
  margin-left: 66.66667%;
}

.b-col-xs-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.b-col-offset-xs-9 {
  margin-left: 75%;
}

.b-col-xs-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.b-col-offset-xs-10 {
  margin-left: 83.33333%;
}

.b-col-xs-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.b-col-offset-xs-11 {
  margin-left: 91.66667%;
}

.b-col-xs-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.b-col-offset-xs-12 {
  margin-left: 100%;
}

@media (min-width: 600px) {
  .b-col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .b-col-offset-sm-1 {
    margin-left: 8.33333%;
  }
  .b-col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .b-col-offset-sm-2 {
    margin-left: 16.66667%;
  }
  .b-col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .b-col-offset-sm-3 {
    margin-left: 25%;
  }
  .b-col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .b-col-offset-sm-4 {
    margin-left: 33.33333%;
  }
  .b-col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .b-col-offset-sm-5 {
    margin-left: 41.66667%;
  }
  .b-col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .b-col-offset-sm-6 {
    margin-left: 50%;
  }
  .b-col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .b-col-offset-sm-7 {
    margin-left: 58.33333%;
  }
  .b-col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .b-col-offset-sm-8 {
    margin-left: 66.66667%;
  }
  .b-col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .b-col-offset-sm-9 {
    margin-left: 75%;
  }
  .b-col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .b-col-offset-sm-10 {
    margin-left: 83.33333%;
  }
  .b-col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .b-col-offset-sm-11 {
    margin-left: 91.66667%;
  }
  .b-col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .b-col-offset-sm-12 {
    margin-left: 100%;
  }
}

@media (min-width: 960px) {
  .b-col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .b-col-offset-md-1 {
    margin-left: 8.33333%;
  }
  .b-col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .b-col-offset-md-2 {
    margin-left: 16.66667%;
  }
  .b-col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .b-col-offset-md-3 {
    margin-left: 25%;
  }
  .b-col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .b-col-offset-md-4 {
    margin-left: 33.33333%;
  }
  .b-col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .b-col-offset-md-5 {
    margin-left: 41.66667%;
  }
  .b-col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .b-col-offset-md-6 {
    margin-left: 50%;
  }
  .b-col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .b-col-offset-md-7 {
    margin-left: 58.33333%;
  }
  .b-col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .b-col-offset-md-8 {
    margin-left: 66.66667%;
  }
  .b-col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .b-col-offset-md-9 {
    margin-left: 75%;
  }
  .b-col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .b-col-offset-md-10 {
    margin-left: 83.33333%;
  }
  .b-col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .b-col-offset-md-11 {
    margin-left: 91.66667%;
  }
  .b-col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .b-col-offset-md-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1264px) {
  .b-col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .b-col-offset-lg-1 {
    margin-left: 8.33333%;
  }
  .b-col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .b-col-offset-lg-2 {
    margin-left: 16.66667%;
  }
  .b-col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .b-col-offset-lg-3 {
    margin-left: 25%;
  }
  .b-col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .b-col-offset-lg-4 {
    margin-left: 33.33333%;
  }
  .b-col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .b-col-offset-lg-5 {
    margin-left: 41.66667%;
  }
  .b-col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .b-col-offset-lg-6 {
    margin-left: 50%;
  }
  .b-col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .b-col-offset-lg-7 {
    margin-left: 58.33333%;
  }
  .b-col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .b-col-offset-lg-8 {
    margin-left: 66.66667%;
  }
  .b-col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .b-col-offset-lg-9 {
    margin-left: 75%;
  }
  .b-col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .b-col-offset-lg-10 {
    margin-left: 83.33333%;
  }
  .b-col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .b-col-offset-lg-11 {
    margin-left: 91.66667%;
  }
  .b-col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .b-col-offset-lg-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1904px) {
  .b-col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .b-col-offset-xl-1 {
    margin-left: 8.33333%;
  }
  .b-col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .b-col-offset-xl-2 {
    margin-left: 16.66667%;
  }
  .b-col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .b-col-offset-xl-3 {
    margin-left: 25%;
  }
  .b-col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .b-col-offset-xl-4 {
    margin-left: 33.33333%;
  }
  .b-col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .b-col-offset-xl-5 {
    margin-left: 41.66667%;
  }
  .b-col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .b-col-offset-xl-6 {
    margin-left: 50%;
  }
  .b-col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .b-col-offset-xl-7 {
    margin-left: 58.33333%;
  }
  .b-col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .b-col-offset-xl-8 {
    margin-left: 66.66667%;
  }
  .b-col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .b-col-offset-xl-9 {
    margin-left: 75%;
  }
  .b-col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .b-col-offset-xl-10 {
    margin-left: 83.33333%;
  }
  .b-col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .b-col-offset-xl-11 {
    margin-left: 91.66667%;
  }
  .b-col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .b-col-offset-xl-12 {
    margin-left: 100%;
  }
}

.b-col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.b-col-offset-1 {
  margin-left: 8.33333%;
}

.b-col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.b-col-offset-2 {
  margin-left: 16.66667%;
}

.b-col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.b-col-offset-3 {
  margin-left: 25%;
}

.b-col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.b-col-offset-4 {
  margin-left: 33.33333%;
}

.b-col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.b-col-offset-5 {
  margin-left: 41.66667%;
}

.b-col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.b-col-offset-6 {
  margin-left: 50%;
}

.b-col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.b-col-offset-7 {
  margin-left: 58.33333%;
}

.b-col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.b-col-offset-8 {
  margin-left: 66.66667%;
}

.b-col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.b-col-offset-9 {
  margin-left: 75%;
}

.b-col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.b-col-offset-10 {
  margin-left: 83.33333%;
}

.b-col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.b-col-offset-11 {
  margin-left: 91.66667%;
}

.b-col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.b-col-offset-12 {
  margin-left: 100%;
}

.b-container {
  padding: 0.75rem;
}

.b-container.fill-height {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.flag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flag img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  max-height: 50px;
  min-width: 1rem;
  min-height: 1rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}

.flag.clickable {
  cursor: pointer;
}

.b-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.b-row.align-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.b-row.align-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.b-row.align-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.b-spacer {
  -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
}

@media screen {
  .spinner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1041;
  }
  .spinner .overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
  }
  .spinner .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1042;
    display: block;
    height: 40px;
    width: 40px;
  }
  .spinner .wrapper .bounce1,
  .spinner .wrapper .bounce2 {
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    -webkit-animation: spinner-bounce-anime 2s infinite ease-in-out;
    animation: spinner-bounce-anime 2s infinite ease-in-out;
  }
  .spinner .wrapper .bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  body > .spinner {
    position: fixed;
  }
  @-webkit-keyframes spinner-bounce-anime {
    0%, 100% {
      -webkit-transform: scale(0);
    }
    50% {
      -webkit-transform: scale(1);
    }
  }
  @keyframes spinner-bounce-anime {
    0%, 100% {
      transform: scale(0);
      -webkit-transform: scale(0);
    }
    50% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}

#layout-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

#layout-empty:before {
  margin: 0 auto;
}

#layout-empty:after {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

@media only screen and (min-width: 960px) {
  #layout-empty {
    min-width: 500px;
  }
}

app header.mdc-top-app-bar {
  z-index: 7;
}

app header .mdc-top-app-bar__section--align-end > * {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 2.5rem;
  font-size: 1.25rem;
}

app .mdc-top-app-bar--fixed-adjust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

app .mdc-top-app-bar--fixed-adjust > .mdc-drawer-app-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

app .mdc-top-app-bar--fixed-adjust > .mdc-drawer-app-content .mdc-drawer:not(.mdc-drawer--dismissible) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

app .mdc-top-app-bar--fixed-adjust .mat-drawer-app-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.layout-navigation-languageSelect-flag img {
  max-height: 20px;
}
/*# sourceMappingURL=Site.css.map */