@page "/"
@using App.Shared.Commands
@inject IMediator Mediator

<Spinner Show="ShowSpinner"></Spinner>
<BContainer>
    <h1>@LayoutResource.Home</h1>

    <h4>Welcome to the Blazor CSE/SSE demonstration solution</h4>

    <button @onclick="DispatchErrorCommand">Fire event throwing exception on server side</button> 
    <button @onclick="CallForbiddenOperation">Fire event for which user does not have permission</button> 
    <button @onclick="MultiHandlerCommand">Fire multiple command handlers together for one command</button> 
    <div>@DispatchError</div>
    @*<BRow>
            <BCol Size="sm-4">4</BCol>
            <BCol Size="sm-4">4</BCol>
            <BCol Size="sm-2">4</BCol>
        </BRow>
        <BRow>
            <BCol Size="sm-2">2</BCol>
            <BCol Size="sm-4">4</BCol>
            <BCol Size="sm-6">6</BCol>
        </BRow>

        <BContainer>
            <BRow>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
            <BRow>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
        </BContainer>
        <BContainer>
            <BRow>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
            <BRow>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
        </BContainer>
        <h4>Align</h4>
        <BContainer>
            <BRow Align="start" style="height:50px">
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
            <BRow Align="center" style="height:50px">
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
            <BRow Align="@BRowAlign.End" style="height:50px">
                <BCol Size="@BColSize.SM_4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
        </BContainer>*@
</BContainer>
@code{
    string DispatchError = "";
    bool ShowSpinner;

    async Task DispatchErrorCommand()
    {
        await Dispatch(new ValidationErrorGenerator.Command());
    }

    async Task CallForbiddenOperation()
    {
        await Dispatch(new AuthenticationError.Command());
    }

    async Task MultiHandlerCommand()
    {
        await Dispatch(new MultiHandler.Command());
    }

    private async Task Dispatch<TResponse>(IRequest<TResponse> request )
    {
        ShowSpinner = true;
        var dispatchResult = await Mediator.Send(request);
        DispatchError = dispatchResult.ErrorMessage;
        ShowSpinner = false;
    }
}
