@namespace App.Client.Layout
@inherits LayoutComponentBase
@inject ILogger<MainLayout> Logger 
@inject IMediator Mediator

<MatAppBarContainer Style="height:100%">
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" @onclick="ToggleMenu"></MatIconButton>
                <MatAppBarTitle>@_name</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <AuthorizeView>
                    <span>@LayoutResource.Hello, @context.User.Identity.Name</span>
                </AuthorizeView>
                <App.Client.Layout.Navigation.LanguageSelect />
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <div class="layout-nav">
            @if(_opened){
            <div class="layout-nav-aside">
                <NavMenu />
            </div>
        }
            <div class="layout-nav-content">
                @Body
            </div>
        </div>
    </MatAppBarContent>
</MatAppBarContainer>

@code{
    bool _opened = true;
    string _name = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var config = await Mediator.Send(new Config.Query());
        if (config.Success){
            _name = config.Result.Name;
        }
    }

    void ToggleMenu()
    {
        _opened = !_opened;
    }
}