@import "../functions/breakpoint";
@import "../variables";
.b-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

//Generate sizing classes for viewport breakpoints
@each $breakpoint in map-keys($grid-breakpoints) {
  // Generate media query if needed
  @include media-breakpoint-up($breakpoint) {
    @for $i from 1 through 12 {
      .b-col-#{$breakpoint}-#{$i} {
        flex: 0 0 100% / 12 * $i;
        max-width: 100% / 12 * $i;
      }
    }
  }
}
// Generate sizing classes without breakpoints
@for $i from 1 through 12 {
  .b-col-#{$i} {
    flex: 0 0 100% / 12 * $i;
    max-width: 100% / 12 * $i;
  }
}
