@page "/"
    <BContainer>
        <h1>Home</h1>

        <h4>Welcome to the Blazor CSE/SSE demonstration solution</h4>
        <BRow>
            <BCol Size="sm-4">4</BCol>
            <BCol Size="sm-4">4</BCol>
            <BCol Size="sm-2">4</BCol>
        </BRow>
        <BRow>
            <BCol Size="sm-2">2</BCol>
            <BCol Size="sm-4">4</BCol>
            <BCol Size="sm-6">6</BCol>
        </BRow>

        <BContainer>
            <BRow>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
            <BRow>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
        </BContainer>
        <BContainer>
            <BRow>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
            <BRow>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
        </BContainer>
        <h4>Align</h4>
        <BContainer>
            <BRow Align="start" style="height:50px">
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
            <BRow Align="center" style="height:50px">
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
            <BRow Align="@BRowAlign.End" style="height:50px">
                <BCol Size="@BColSize.SM_4">4</BCol>
                <BCol Size="sm-4">4</BCol>
                <BCol Size="sm-4">4</BCol>
            </BRow>
        </BContainer>
    </BContainer>
        @code{

        }
