@page "/"
@using Components.States
@inject AppState appState
@inherits Components.StateAbstraction.StatefullComponent
<h1>Home</h1>

<h4>Welcome to the Blazor CSE/SSE demonstration solution</h4>

Language: @appState.Language 2222

    <Components.Layout.Navigation.LanguageSelect/>

@code{
    protected override void OnInitialized()
    {
        Observe(appState);
    }
}