@page "/auth/sign-in"
@using App.Shared.AuthModels
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h3>Sing In</h3>
<EditForm Model="@_model" OnValidSubmit="@Success">
    <DataAnnotationsValidator />
    <p>
        <MatTextField Label="Username" @bind-Value="_model.Username" />
        <ValidationMessage For="@(() => _model.Username)" />
    </p>
    <p>
        <MatTextField Label="Password" @bind-Value="_model.Password" Type="password" />
        <ValidationMessage For="@(() => _model.Password)" />
    </p>
    <p>
        <MatButton Type="submit" Raised="true">Login</MatButton>
    </p>
</EditForm>

@code {
    UserCredentials _model = new UserCredentials();

    async Task Success()
    {
        await AuthService.SignIn(_model.Username, _model.Password);
        _model = new UserCredentials();
        NavigationManager.NavigateTo("/");
    }
}
