@page "/auth/sign-in"
@layout EmptyLayout
@using App.Shared.AuthModels
@inject App.Shared.IAuthService AuthService
@inject NavigationManager NavigationManager
<BContainer FillHeight>
    <BRow>
        <BCol Size="4" Offset="4">
            <h3>Sing In</h3>
            <EditForm Model="@_model" OnValidSubmit="@Success">
                <DataAnnotationsValidator />

                <MatTextField Label="Username" @bind-Value="_model.Username" />
                <ValidationMessage For="@(() => _model.Username)" />


                <MatTextField Label="Password" @bind-Value="_model.Password" Type="password" />
                <ValidationMessage For="@(() => _model.Password)" />
                <BRow>
                    <BSpacer /><MatButton Type="submit" Raised="true">Login</MatButton>
                </BRow>

            </EditForm>
        </BCol>
    </BRow>
</BContainer>

@code {
    UserCredentials _model = new UserCredentials();

    async Task Success()
    {
        await AuthService.SignIn(_model.Username, _model.Password);
        _model = new UserCredentials();
        NavigationManager.NavigateTo("/");
    }
}
