@page "/auth/sign-in"
@layout EmptyLayout
@using App.Shared.AuthModels
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h3>Sing In</h3>
<EditForm Model="@_model" OnValidSubmit="@Success">
    <DataAnnotationsValidator />

    <MatTextField Label="Username" @bind-Value="_model.Username" />
    <ValidationMessage For="@(() => _model.Username)" />


    <MatTextField Label="Password" @bind-Value="_model.Password" Type="password" />
    <ValidationMessage For="@(() => _model.Password)" />
<div class="flex">
    <Spacer /><MatButton Type="submit" Raised="true">Login</MatButton>
    </div>

</EditForm>

@code {
    UserCredentials _model = new UserCredentials();

    async Task Success()
    {
        await AuthService.SignIn(_model.Username, _model.Password);
        _model = new UserCredentials();
        NavigationManager.NavigateTo("/");
    }
}
