@inject IDispatcher Dispatcher
@inject IState<Language.State> LanguageState
@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<Fluxor.Blazor.Web.StoreInitializer />

<Router AppAssembly="typeof(Application).Assembly" @key=@LanguageState.Value.Language>
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="typeof(MainLayout)">
                <h1>Page not found</h1>
                <p>Sorry, but there's nothing here!</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>

@code{
    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new Init.LoadPersistedStateAction());
        base.OnInitialized();
    }
}