<Router AppAssembly="typeof(Application).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="typeof(MainLayout)">
                <h1>Page not found</h1>
                <p>Sorry, but there's nothing here!</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>