@page "/"
@namespace App.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Blazor-CSE</title>
    <link rel="stylesheet" href="css/loading.css" />


    <link rel="stylesheet" href="css/Site.css" />
    <link rel="stylesheet" href="App.Client.styles.css" />
    <link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <div id="app">
        <div class="load-progress">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="22.857142857142858 22.857142857142858 45.714285714285715 45.714285714285715">
                <circle fill="transparent" cx="45.714285714285715" cy="45.714285714285715" r="20" stroke-width="5.714285714285714"
                        stroke-dasharray="125.664" stroke-dashoffset="125.66370614359172px"></circle>
            </svg>
        </div>
    </div>
    <script src="_framework/blazor.webassembly.js"></script>

    <script src="_content/Fluxor.Blazor.Web/scripts/index.js"></script>
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
</body>
