@import '../../Styles/_reset';
@import '../../Styles/_blazor';
@import '../../Styles/_mdc';

#app {
    display: flex;
    flex-grow: 1;
    flex-direction:column;
    height: 100%;
    > div {
        display: flex;
    }
}