@inherits BaseMatComponent
    <span  @onclick="OnClick.InvokeAsync" class="@GetClass()">
        <img src="images/flags/@GetFilename()" @ref="Ref" />
        @ChildContent
    </span>

@code {
    [Parameter]
    public string Name { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public ElementReference Ref {get;set;}

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    string GetFilename()
    {
        return Name?.ToLower() + ".svg";
    }

    string GetClass()
    {
        return "flag" + (OnClick.HasDelegate ? " clickable" : "")+" "+Class;
    }
}
